<div id="header-content">
  <header id="intro" role="banner">
    <div class="intro-text">
      <h1 class="title">Jonathan Calvin</h1>
      <h2 class="subhead pull">Front End Software Engineer</h2>
    </div>
  </header>
  <nav id="social-navigation" role="navigation">
    <ul>
      <li><a href="https://github.com/jmatc" title="GitHub" target="blank" class="icon-github" >GitHub</a></li>
      <li class="linkedin"><a href="https://www.linkedin.com/in/jmatc" title="LinkedIn" target="blank" class="icon-linkedin" >LinkedIn</a></li>
      <li class="twitter"><a href="https://twitter.com/jmatc" title="Twitter" target="blank" class="icon-twitter" >Twitter</a></li>
      <li class="mail"><a href="mailto:jc@jonathancalvin.com" title="Mail" target="blank" class="icon-mail" >Mail</a></li>
      <li class="tooltip"></li>
    </ul>
  </nav>
</div>
