doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='application-name' content='Jonathan Calvin: Front End Software Engineer')
    title= (locals.title ? locals.title + ' - ' : '') + 'Jonathan Calvin - Front End Software Engineer'
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600')
    link(rel='stylesheet', href='css/app.css')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon-precomposed', sizes='152x152', href='apple-touch-icon-152x152.png')
    link(rel='icon', type='image/png', href='favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='favicon-16x16.png', sizes='16x16')
    link(href='/rss', rel='alternate', title='Jonathan Calvin Blog Feed', type='application/atom+xml')

  body(class=locals.page ? 'page-' + locals.page + (locals.page === 'index' ? '' : ' page-secondary') : '')
    #wrap
      block content

    script#feed(type='text/template')
      header
        h2.entry-title
          a(href!='<%= postSlug %>') <%= postTitle %>
        span.post-date <%= postDate %>
          span.icon-clock
      blockquote
        .entry-image
          img(src!='img/<%= postImage %>')
        <%- postExcerpt %>

    script#single(type='text/template')
      article(class!='entry-content slug-<%= postSlug %>')
        header
          .entry-image
            img(src!='img/<%= postImage %>')
          h1.entry-title <%= postTitle %>
        <%= postContent %>
    script(src='js/app.js')
    
