<script id="feed" type="text/template">
  <header>
    <h2 class="entry-title">
      <a href="<%= postSlug %>"><%= postTitle %></a>
    </h2>
    <span class="post-date"><span class="icon-clock"></span><%= postDate %></span>
  </header>
  <blockquote>
    <span class="entry-thumbnail">
      <img src="img/<%= postImage %>" alt="" />
    </span>
    <%= postExcerpt %>
  </blockquote>
</script>

<script id="single" type="text/template">
  <article class="entry-content slug-<%= postSlug %>">
    <header>
      <h1 class="entry-title"><%= postTitle %><span class="entry-thumbnail"><img src="img/<%= postImage %>" alt="" /></span></h1>
    </header>
    <section>
      <%= postContent %>
    </section>
  </article>
</script>
