$bg-main: #333;
$bg-grey: #f6f6f6;
$bg-off-white: #fdfdfd;

// std font colors
$font: #333;
$lt-font: lighten($font, 10%);
// link colors
$link: $font;
$link-hover: #ff3e34;
// social colors
$linkedin: #007bb6;
$twitter: #00aced;
$mail: $link-hover;
