@include keyframes(slide-out) {
  0% {
    -webkit-transform: translate3d(42%, 0, 0) scale3d(0.85, 0.85, 1);
    transform: translate3d(42%, 0, 0) scale3d(0.85, 0.85, 1);
  }
  100% {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}

@include keyframes(slide-out) {
  0% {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  100% {
    -webkit-transform: translate3d(42%, 0, 0) scale3d(0.85, 0.85, 1);
    transform: translate3d(42%, 0, 0) scale3d(0.85, 0.85, 1);
  }
}
