#social-navigation {
  left: -5px;

  ul {
    @extend %group;
    @extend %flush;

    height: 27px;
    position: relative;
    width: 155px;
  }

  li {
    @include opacity(1);
    @include transform(translate3d(0, 0, 0));
    @include multi-transition(opacity 2s ease, transform .65s cubic-bezier(0,1.01,.87,1.01));

  	list-style: none;
    position: absolute;

    a {
      color: #555;
      display: block;
      font-size: 26px;
      line-height: 1;
      overflow: hidden;
      text-decoration: none;
      width: 27px;
      visibility: hidden;

      &:before {
        visibility: visible;
      }
    }

    a:hover {
      color: $font;
    }

    &.linkedin {
      @include transform(translate3d(41px, 0, 0));

      a {
        color: $linkedin;
        &:hover {
          color: darken($linkedin, 4%);
        }
      }
    }
    &.twitter {
      @include transform(translate3d(82px, 0, 0));

      a {
        color: $twitter;
        &:hover {
          color: darken($twitter, 4%);
        }
      }
    }
    &.mail {
      @include transform(translate3d(123px, 0, 0));

      a {
        color: $mail;
        &:hover {
          color: darken($mail, 5.5%);
        }
      }
    }
  }

  &.hidden {
    li {
      @include opacity(0);

      &.github {
        @include transform(translate3d(41px, 0, 0));
      }
      &.linkedin {
        @include transform(translate3d(95px, 0, 0));
      }
      &.twitter {
        @include transform(translate3d(155px, 0, 0));
      }
      &.mail {
        @include transform(translate3d(216px, 0, 0));
      }
    }
  }

  li.tooltip {
    @include opacity(.5);
    @include transition(opacity, .25s, ease);

    font: {
      size: 18px;
    }

    &.shown {
      @include opacity(1);
    }

    &.linkedin {
      color: $linkedin;
    }
    &.twitter {
      color: $twitter;
    }
    &.mail {
      color: $mail;
    }
  }
}
