#social-navigation {
  left: -5px;
  position: relative;

  ul {
    @extend %group;
    @extend %flush;
  }
  li {
  	float: left;
  	list-style: none;
    margin-left: 15px;

    &:first-child {
      margin-left: 0;
    }

    a {
      color: #555;
      display: block;
      font-size: 26px;
      line-height: 1;
      overflow: hidden;
      text-decoration: none;
      width: 27px;
      visibility: hidden;

      &:before {
        visibility: visible;
      }
    }
    a:hover {
      color: $font;
    }

    &.linkedin {
      a {
        color: $linkedin;
        &:hover {
          color: darken($linkedin, 4%);
        }
      }
    }
    &.twitter {
      a {
        color: $twitter;
        &:hover {
          color: darken($twitter, 4%);
        }
      }
    }
    &.mail {
      a {
        color: $mail;
        &:hover {
          color: darken($mail, 4%);
        }
      }
    }
  }
  li.tooltip {
    @include opacity(.5);
    @include transition(opacity, .25s, ease);

    font: {
      size: 18px;
    }

    &.shown {
      @include opacity(1);
    }

    &.linkedin {
      color: $linkedin;
    }
    &.twitter {
      color: $twitter;
    }
    &.mail {
      color: $mail;
    }
  }
}
