#header-content
  header#intro(role="banner")
    div.intro-text
      h1.title Jonathan Calvin
      h2.subhead.pull Front End Software Engineer
        span one Event at a time
  nav#social-navigation(role="navigation")
    ul
      li
        a.icon-github(href="https://github.com/jmatc", title="GitHub", target='blank') GitHub
      li.linkedin
        a.icon-linkedin(href="https://www.linkedin.com/in/jmatc", title="LinkedIn", target='blank') LinkedIn
      li.twitter
        a.icon-twitter(href="https://twitter.com/jmatc", title="Twitter", target='blank') Twitter
      li.mail
        a.icon-mail(href="mailto:jc@jonathancalvin.com", title="Email") Mail
      li.tooltip
