header#mastehead(role="banner")
  h1 Jonathan Calvin
  p Front End Software Engineer

nav#main-navigation(role="navigation")
  ul
    li.blog
      a(href="/blog", title="Blog")
        span Blog
    li.github
      a(href="/github", title="GitHub")
        span Gihtub
    li.linkedin
      a(href="/linkedin", title="LinkedIn")
        span LinkedIn
