@import
  'normalize',
  'modules/colors',
  'modules/mixins',
  'modules/helpers',
  'modules/keyframes',
  'partials/typography',
  'partials/syntax-highlighter',
  'partials/masthead',
  'partials/social-nav',
  'partials/blog';

html,
body,
#wrap {
  @extend %tall;
}

body {
  @extend %group;
  background: $bg-main url('../img/space.jpg') no-repeat;
  background-size: contain;
  color: $font;
  margin: 0;
  font: {
    family: $std-family;
    weight: $std-weight;
  }
  line-height: 1.5;
}

.pull {
  left: -6px;
  position: relative;
}

#progress-bar {
  @include opacity(1);
  @include transition(all, .5s, ease);

  background-color: #00cf7f;
  left: 0;
  height: 2px;
  position: absolute;
  top: 0;
  width: 0;
  z-index: 500;

  &.hidden {
    @include opacity(0);
  }
}

#wrap {
  @extend %group;

  .section {
    @extend %tall;
    @include box-sizing(border-box);
    position: relative;

    &.left,
    &.right {
      @extend %left;
    }

    &.left {
      overflow: hidden;
      width: 47%;
    }

    &.right {
      background-color: #fdfdfd;
      border-left: 1px solid #f3f3f3;
      -webkit-overflow-scrolling: touch;
      overflow-y: scroll;
      padding: 30px 30px 60px;
      width: 53%;
    }

    .icon-circle-left {
      @include opacity(0);
      @include transition(opacity, .15s, ease);
      transition-delay: .15s;

      color: #848484;
      cursor: pointer;
      font-size: 26px;
      position: absolute;
      right: 30px;
      top: 20px;

      &:hover {
        color: #555;
      }

      &.shown {
        @include opacity(1);
        @include transition(opacity, .15s, ease);
        transition-delay: .75s;
      }
    }
  }
}

#game-board {
  @extend %group;
  @extend %tall;

  background-color: $bg-grey;

  &.active {
    transform: translate3d(50%, 0, 0) scale3d(0.85, 0.85, 1);
  }

}

#colophon {
  @extend %group;

  bottom: 10px;
  left: 10.15%;
  position: absolute;
}
