@import
  'helpers',
  'color',
  'typography';

html,
body,
#wrap {
  height: 100%;
}

body {
  @extend %group;
  background: $bg-main;
  color: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  margin: 0;
  font: {
    family: 'Open Sans', sans-serif;
    weight: $std-weight;
  }
  line-height: 1.5;
}

.pull {
  left: -6px;
  position: relative;
}

#wrap {
  @extend %group;

  .section {
    box-sizing: border-box;
    height: 100%;

    &.left,
    &.right {
      float: left;
    }

    &.left {
      width: 48%;
    }
    &.right {
      background-color: #fdfdfd;
      border-left: 1px solid #f6f6f6;
      overflow-y: scroll;
      padding: 30px 30px 60px;
      width: 52%;
    }
  }
}

#header-content {
  height: 171px;
  margin-top: -125px;
  position: absolute;
  top: 50%;
  left: 5%;
}

#intro {
  @extend %group;
  margin-bottom: 27px;

  .intro-text {
    max-width: 460px;
    position: relative;
  }

  .intro-text:after {
    background: radial-gradient(circle farthest-side at right, rgba(255, 255, 255, 0.325) 0, rgba(250, 250, 250, 0) 100%);
    content: '';
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .title {
    font: {
      size: 68px;
    }
    margin: 0;
    text-shadow: 0 1px 2px rgba(255, 255, 255, 1);
  }
  .subhead {
    font-weight: $std-weight;
    margin: 18px 0 0;
    text-shadow: 0 1px 0 #fff;

    span {
      color: #666;
      font: {
        size: 18px;
        style: italic;
      }
      padding-left: 9px;
    }
  }
}

#social-navigation {
  left: -5px;
  position: relative;

  ul {
    @extend %group;
    margin: 0;
  	padding: 0;
  }
  li {
  	float: left;
  	list-style: none;
    margin-left: 15px;

    &:first-child {
      margin-left: 0;
    }

    a {
      color: #555;
      display: block;
      font-size: 26px;
      line-height: 1;
      opacity: .9;
      overflow: hidden;
      -webkit-transition: color .1s linear;
      -moz-transition: color .1s linear;
      -o-transition: color .1s linear;
      transition: color .1s linear;
      text-decoration: none;
      width: 27px;
      visibility: hidden;

      &:before {
        visibility: visible;
      }
    }
    a:hover {
      color: $font;
    }

    &.linkedin {
      a {
        color: $linkedin;
        &:hover {
          color: darken($linkedin, 4%);
        }
      }
    }
    &.twitter {
      a {
        color: $twitter;
        &:hover {
          color: darken($twitter, 4%);
        }
      }
    }
    &.mail {
      a {
        color: $mail;
        &:hover {
          color: darken($mail, 4%);
        }
      }
    }
  }
  li.tooltip {
    opacity: .5;
    transition: opacity .25s ease;
    font: {
      size: 18px;
    }

    &.shown {
      opacity: 1;
    }

    &.linkedin {
      color: $linkedin;
    }
    &.twitter {
      color: $twitter;
    }
    &.mail {
      color: $mail;
    }
  }
}

.entry-title {
  line-height: 1.35;

  a {
    color: $lt-font;
  }
  a:hover {
    color: $link-hover;
  }
}

// blog styles
#article-feed {
  ul {
    @extend %group;
    @extend %flush;

    > li {
      box-sizing: border-box;
      float: left;
      list-style: none;
      padding: 20px 20px 0;
      width: 50%;
    }
  }

  blockquote {
    @extend %flush;

    .entry-image {
      width: 40px;
      height: 40px;
      display: inline-block;
      float: left;
      margin: 0 15px 0 0;
      border-radius: 20px;
      box-shadow: 0 0 4px #ddd;
      border: 1px solid #fafafa;

      img {
        height: auto;
        width: 100%;
      }
    }
    p {
      margin: 0;
    }
  }
}

#article-detail {
  article {
    padding: 0 20px 0;
  }
  .entry-title {
    font-size: 32px;
  }
}
