%group:before,
%group:after {
  content: '';
  display: table;
  clear: both;
}

%flush {
  margin: 0;
  padding: 0;
}

%viewvisible {
  opacity: 1;
  transition: all .175s ease;
  visibility: visible;
}

%viewhidden {
  opacity: 0;
  transition: all .12s ease;
  visibility: hidden;
}
