$std-weight: 300;
$hvy-weight: 600;

@font-face {
	font-family: 'jcdotcom';
	src:url('../fonts/jcdotcom.eot?-akbnqy');
	src:url('../fonts/jcdotcom.eot?#iefix-akbnqy') format('embedded-opentype'),
		url('../fonts/jcdotcom.ttf?-akbnqy') format('truetype'),
		url('../fonts/jcdotcom.woff?-akbnqy') format('woff'),
		url('../fonts/jcdotcom.svg?-akbnqy#jcdotcom') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'jcdotcom';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
	content: "\e94e";
}
.icon-quotes-left:before {
	content: "\e977";
}
.icon-quotes-right:before {
	content: "\e978";
}
.icon-hour-glass:before {
	content: "\e979";
}
.icon-spinner:before {
	content: "\e97b";
}
.icon-search:before {
	content: "\e986";
}
.icon-bookmark:before {
	content: "\e9d2";
}
.icon-cross:before {
	content: "\ea0f";
}
.icon-loop:before {
	content: "\ea2e";
}
.icon-circle-left:before {
	content: "\ea44";
}
.icon-mail:before {
	content: "\ea83";
}
.icon-twitter:before {
	content: "\ea92";
}
.icon-github:before {
	content: "\eab3";
}
.icon-linkedin:before {
	content: "\eac8";
}

h1, h2, h3, h4 {
  color: #444;
  font-weight: $hvy-weight;
  letter-spacing: -0.06em;
  line-height: 1.1;
  letter-spacing: -0.055em;
}

a {
	color: $link;
	text-decoration: none;

	&:hover {
		color: $link-hover;
	}
}

#colophon {
  p {
    font-size: 11px;
    letter-spacing: .025em;
    margin: 2px 0;
  }
	a {
		border-bottom: 1px dotted #bbb;
		margin-left: 8px;

		&:hover {
			border-bottom-color: $link-hover;
		}
	}
}
